.modifier-container {
    height: 97%;
    width: 400px;
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.close-modifier {
    color: crimson;
    font-size: 20px;
    font-weight: bold;
}

.close-div {
    padding: 0px 8px;
    background-color: #ccc;
    border-radius: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: default;
}

.content-modifier {
    text-align: center;
    margin-top: 70px;
}

.hide-right {
    right: -500px;
}

.show-right {
    right: 0;
}

.modifier-container img {
    max-width: 200px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.modifier-container p {
    padding: 0px 5px;
    font-family: 'Poppins';
}

.label-modifier img {
    width: 50px;
    height: 50px;
}

.title-modifier {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.desc-modifier {
    font-size: 12px;
    margin: 0;
    color: #ccc;
}

.price-modifier {
    font-size: 14px;
    font-weight: bold;
    color: #16a085;
}

.detail-modifier {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 46%;
}

.checkmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-btn {
    border-radius: 50%;
}

.check-btn {
    border-radius: 20%;
}

.label-modifier:hover input~.checkmark {
    background-color: #ccc;
}

.label-modifier input:checked~.checkmark {
    background-color: #16a085;
}

.checkmark:after {
    content: "";
    display: none;
}


.label-modifier input:checked~.checkmark:after {
    display: block;
}
.label-modifier .radio-btn:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.label-modifier .check-btn:after {
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.label-modifier {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.item-modifier {
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 4px 0px #ccc;
    padding: 10px 0px;
    border-radius: 30px;
}

.list-modifier {
    margin: 20px 20px 40px 20px;
}

.modifier {
    width: 0;
}

#btn-add-cart {
    background-color: #16a085;
    margin: 0px 20px;
    padding: 10px;
    display: flex;
}

#btn-add-cart {
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    position: sticky;
    bottom: 20px;
    left: 0;
    right: 0;
}

#btn-add-cart .tot-cart {
    color: #fff;
    font-size: 15px;
}

.tit-cart {
    width: 75%;
}