.card-product {
    box-shadow: 0px 3px 6px 0px #ccc;
    border-radius: 10px;
    max-width: 200px;
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.card-product img {
    max-width: 200px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.card-product p {
    padding: 0px 5px;
    font-family: 'Poppins';
}

.card-title {
    font-size: 15px;
    font-weight: bold;
    margin: 0
}

.card-desc {
    margin: 0;
    font-size: 12px;
    color: #ccc;
}

.card-price {
    font-size: 15px;
    color: #16a085;
    font-weight: bold;
    margin: 10px 0px 8px 0px;
}

.counter {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    margin: 10px 30px
}

.counter .plus {
    background-color: #16a085;
    border: none;
    box-shadow: 0px 4px 6px 0px #ccc;
    width: 10%;
    height: 30px;
    border-radius: 5px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.counter .num {
    width: 80%;
    display: inline-block;
    text-align: center;
}

.counter .min {
    border: none;
    box-shadow: 0px 4px 6px 0px #ccc;
    width: 10%;
    height: 30px;
    border-radius: 5px;
    background-color: #ccc;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.detail-card {
    margin-top: 5px 0px;
}