.topbar {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 20px;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 81%;
    /* box-shadow: 0px 4px 5px 0px #ccc; */
}

.icon-btn {
    width: 15px;
    height: 15px;
    margin: 0px;
}

.cart-btn{
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 10px;
}

.cart-icon{
    border-radius: 50%;
    background-color: #16a085;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 30px;
}

.numoforder{
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 9px;
    color: #fff;
    padding: 0px 3px;
    border-radius: 5px;
    background-color: #000;
}

#top-bar-back {
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    transition: 0.5s;
}

#top-bar-back:hover{
    background-color: #ccc;
}

.detail-link {
    margin-left: 20px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
}
#search{
    border: none;
    background-color: transparent;
    font-family: 'Poppins';
    font-size: 12px;
    outline: none;
    width: 85%;
}

#search:focus{
    border: none;
    outline: none;
}


.hidden-search{
    width: 25%;
}


.search-input{
    background-color: #E0E0E0;
    padding: 10px 10px;
    border-radius: 10px;
    max-width: 200px;
    margin-bottom: 20px;
}

.filter-input{
    background-color: #E0E0E0;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.filter-control{
    background-color: transparent;
    border: none;
    width: auto;
}

.label-input{
    font-size: 12px;
}


.icon-input {
    width: 10px;
    margin-right: 10px;
}

#filter-view{
    margin-top: 20px;
}