.row{
    width: 60%;
}

.col-6{
    width: 40%;
}

.col-12{
    width: 88%;
}

#img-profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img-profile-container{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.btn-change-img{
    margin-left: 20px;
    background-color: #16a085;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.input-field{
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 15px;
}

#lastname{
    margin-left: 20px;
}

.input-field:focus{
    outline: none;
    border-color: #16a085;
}